/*!
 * The map! /map
 */
(function() {

  if ($('#map').length) {

    var southWest = L.latLng(1.694562, -109.829743),
        northEast = L.latLng(78.543425, 50.370820),
        bounds = L.latLngBounds(southWest, northEast);

    L.mapbox.accessToken = 'pk.eyJ1Ijoia29sbGVnb3JuYSIsImEiOiJvWk5VR3FjIn0.1zlsFncPm_sHrDcmmpzudg';
    var map = L.mapbox.map('map', 'mapbox.satellite', {
      maxBounds: bounds,
      maxZoom: 15,
      minZoom: 2
    }).setView([40, -74.50], 5);
//    var map = L.mapbox.map('map').setView([40, -74.50], 5);
    L.mapbox.styleLayer('mapbox://styles/kollegorna/ciy35srsb008g2rmhkm6gca1m').addTo(map);

    setTimeout(function() {
      $('.map').css('opacity', '1');
    }, 2500);

    if (map.scrollWheelZoom) {
      map.scrollWheelZoom.disable();
    }

//    L.tileLayer('https://api.mapbox.com/styles/v1/kollegorna/ciy35srsb008g2rmhkm6gca1m/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoia29sbGVnb3JuYSIsImEiOiJvWk5VR3FjIn0.1zlsFncPm_sHrDcmmpzudg').addTo(map);
//    L.mapbox.styleLayer('mapbox://styles/kollegorna/ciy35srsb008g2rmhkm6gca1m').addTo(map);
    var myLayer = L.mapbox.featureLayer().addTo(map);

    var geoJson = {
      type: 'FeatureCollection',
      features: [{
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [18.0360443, 59.3427392]
        },
        properties: {
          title: 'Kollegorna HQ',
          description: 'Per, Henrik &amp; Filippos',
          location: 'Stockholm, Sweden',
          profileID: 'map-kollegorna-hq'
        }
      },
      {
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [-69.85965728759766, 18.48937737263002]
        },
        properties: {
          title: 'Raymall Pérez',
          location: 'Santo Domingo, Dominican Republic',
          profileID: 'map-raymall'
        }
      },
      {
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [-8.426507, 41.545449]
        },
        properties: {
          title: 'Eduardo Nunes',
          location: 'Braga, Portugal',
          profileID: 'map-eduardo'
        }
      },
      {
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [-9.14851, 38.7228367]
        },
        properties: {
          title: 'Ricardo Marques',
          location: 'Lisbon, Portugal',
          profileID: 'map-ricardo'
        }
      },
      {
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [12.4888, 56.9027]
        },
        properties: {
          title: 'Dennis Carlsson',
          location: 'Falkenberg, Sweden',
          profileID: 'map-dennis'
        }
      },
      {
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [17.5869143, 48.37995]
        },
        properties: {
          title: 'Ivan Novosad',
          location: 'Trnava, Slovakia',
          profileID: 'map-ivan'
        }
      },
      {
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [24.74529, 42.135408]
        },
        properties: {
          title: 'Nikolay Lechev',
          location: 'Plovdiv, Bulgaria',
          profileID: 'map-nikolay'
        }
      },
      {
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [21.1332599, 55.7085666]
        },
        properties: {
          title: 'Osvaldas Valutis',
          location: 'Klaipėda, Lithuania',
          profileID: 'map-osvaldas'
        }
      }]
    };

    // Set a custom icon on each marker based on feature properties.
    myLayer.on('layeradd', function(e) {
      var marker = e.layer,
          feature = marker.feature;

    // This is where the magic happens...
      marker.setIcon(L.divIcon({
        className: 'map__marker', // Make sure you set an icon class here, otherwise default styles will be set by Mapbox's CSS
        html: '<div class="marker__pulse">'+
              '<div class="marker__pulse--expand"></div'+
              '</div>', // The content of your HTML marker, you can build a string based on the marker properties by using 'feature.properties.your_property'
        iconSize: [20, 20] // The bounds for your icon
      }));

      var popupDescription = '';
      if (feature.properties.description) {
        popupDescription = '<div class="map__popup__description">' + feature.properties.description + '</div>';
      }

      // Create custom popup content
      var popupContent = '<div class="popup map__popup">' +
                           '<div class="map__popup__image" id="'+feature.properties.profileID+'"></div>' +
                           '<h2>'+feature.properties.title+'</h2>' +
                           popupDescription +
                           '<p><span class="map__popup__pin"></span> '+feature.properties.location+'</p>' +
                         '</div>';

      // http://leafletjs.com/reference.html#popup
      marker.bindPopup(popupContent, {
          closeButton: true,
          minWidth: 150
      });
    });

    // Add features to the map.
    myLayer.setGeoJSON(geoJson);
    // featureLayer.getBounds() returns the corners of the furthest-out markers,
    // and map.fitBounds() makes sure that the map contains these.
    map.fitBounds(myLayer.getBounds().pad(0.1));

    myLayer.on('click', function(e) {
      e.layer.openPopup();
    });

//    $('.map__profile').hover(
//      function() {
//        TweenMax.to($(this), .25, { scale: 1.1, ease: Power0.easeInOut });
//      }, function() {
//        TweenMax.to($(this), .25, { scale: 1, ease: Power0.easeInOut });
//      }
//    );

//    $('.map__profile').on('click', function(e) {
//      var profile = $(this);
//      TweenMax.to($(this), .2, { scale: .8, repeat: 1, yoyo: true, ease: Power0.easeInOut });
//      setTimeout(function() {
//        map.setView([profile.attr('data-latitude'), profile.attr('data-longitude')], 9);
//      }, 400);
//    });

//    var pulseAni = new TimelineMax({repeat: -1, repeatDelay: 1 });
//    pulseAni.to($('.marker__pulse'), .5, { opacity: .8, scale: 1.5, ease: Power0.easeNone });
//    pulseAni.to($('.marker__pulse'), .5, { opacity: 0, scale: 2, ease: Power0.easeNone });
  }

}());
