<header class="header" role="contentinfo">
  <div class="header__logo">
    <a href="/"><%= image_tag("kollegorna-k.svg") %></a>
  </div>

  <nav class="header__navigation">
    <a href="/work/">Case Studies</a>
    <a href="/feed">Feed</a>
    <a href="">Colleagues</a>
    <a href="">About Us</a>
    <a href="">Careers</a>
    <a href="">Contacts</a>
  </nav>

  <div class="header__cta">
    <a href="#">Work with us</a>
  </div>
</header>
