@charset "utf-8";

// --
// Libraries
// --
@import "normalize-scss/normalize";
@import "neat/app/assets/stylesheets/neat";

// --
// Kollegorna Design System
// --
@import "kollegorna-design-system/scss/design-system";

$huge: new-breakpoint(min-width 1600px);
$desktop: new-breakpoint(min-width 1400px);
$laptop: new-breakpoint(min-width 1024px);
$tablet: new-breakpoint(min-width 800px);
$mobile: new-breakpoint(max-width 800px);

// --
// Partials
// --
@import "partials/__partials";

// --
// Templates
// --
@import "templates/__templates";

// --
// Components
// --
@import "components/__components";
