.cta-ar {
  background: $ds-color-link;
  text-align: center;
  color: white;
  width: 100%;
  padding: 40px 20px;

  @include media($laptop) { padding: 60px 20px; }
  @include media($desktop) { padding: 60px 0; }

  @include direction-context(right-to-left) {
    &__container {
      @include outer-container;
    }

    &__content {
      @include span-columns(12);

      h4 {
        font-size: ds-rem-calc(16);
        color: white;
        margin: 0;
        margin-bottom: 10px;
      }

      h2 {
        color: white;
        margin: 0;
        margin-bottom: 20px;
      }

      a {
        display: inline-block;
        color: $ds-color-link;
        background: $ds-color-yellow;
        width: 50px;
        height: 50px;
        position: relative;
        border-radius: 100em;

        &:after {
          content: "←";
          display: block;
          width: 50px;
          height: 50px;
          line-height: 50px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}

.footer {
  color: darken( $ds-color-white, 20 );
  background: $ds-color-charcoal;
  text-align: center;
  position: relative;
  z-index: 9;
  font-size: ds-rem-calc(18);
  padding: 40px 20px;

  @include media($tablet) { padding: 60px 20px; text-align: left; }
  @include media($desktop) { padding: 60px 0; }

  h4 {
    font-size: ds-rem-calc(14);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: ds-rem-calc(1);
    color: darken( $ds-color-white, 40 );
    margin: 0;
    margin-bottom: 10px;
  }

  a, p {
    font-size: ds-rem-calc(16);
    margin-top: 10px;
    line-height: ds-rem-calc(30);
  }

  a {
    color: currentColor;

    &:hover {
      color: $ds-color-yellow;
    }
  }

  &__container {
    @include outer-container;
  }

  &__logo {
    @include span-columns(12);

    svg {
      width: 50px;
      height: 50px;
    }

    @include media($tablet) {
      @include span-columns(3);
    }
  }

  &__contacts {
    @include span-columns(12);

    @include media($mobile) {
      margin-top: 20px;
    }
    @include media($tablet) {
      @include span-columns(3);
    }
  }

  &__navigation {
    @include span-columns(12);

    @include media($mobile) {
      position: relative;
      padding-top: 15px;
      margin-top: 15px;

      &:before {
        width: 150px;
        height: 1px;
        background-color: rgba($ds-color-white, .1);
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @include media($tablet) {
      @include span-columns(3);
    }

    a {
      display: block;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.ar {
  @include direction-context(right-to-left) {
    .footer {
      @include media($tablet) {
        text-align: right;
      }

      &__container {
        @include outer-container;
      }

      &__logo {
        @include span-columns(12);

        @include media($tablet) {
          @include span-columns(3);
        }
      }

      &__contacts {
        @include span-columns(12);

        @include media($tablet) {
          @include span-columns(3);
        }
      }

      &__navigation {
        @include span-columns(12);

        @include media($tablet) {
          @include span-columns(3);
        }
      }
    }
  }
}
