.footer {
  color: darken( $ds-color-white, 20 );
  background: $ds-color-charcoal;
  text-align: center;
  position: relative;
  z-index: 9;
  font-size: ds-rem-calc(18);
  padding: 40px 20px;

  @include media($laptop) { padding: 60px 20px; text-align: left; }
  @include media($desktop) { padding: 60px 0; }

  h4 {
    font-size: ds-rem-calc(14);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: ds-rem-calc(1);
    color: darken( $ds-color-white, 40 );
    margin: 0;
    margin-bottom: 10px;
  }

  a, p {
    font-size: ds-rem-calc(16);
    margin-top: 10px;
    line-height: ds-rem-calc(30);
  }

  a {
    color: currentColor;

    &:hover {
      color: $ds-color-yellow;
    }
  }

  &__container {
    @include outer-container;
  }

  &__logo {
    width: 50px;
    float: left;
    margin-bottom: 20px;

    @include media($laptop) { margin-right: 10px; }

    svg {
      width: 50px;
      height: 50px;
    }

    @include span-columns(12);

    @include media($laptop) {
      @include span-columns(3);
    }
  }

  &__contacts {
    @include span-columns(12);

    @include media($laptop) {
      @include span-columns(3);
    }
  }

  &__navigation {
    @include span-columns(12);

    @include media($laptop) {
      @include span-columns(3);
    }

    a {
      display: block;
    }
  }
}
