$header-extra-mobile: new-breakpoint(max-width 350px);

.header {
  @include outer-container;
  font-family: $ds-font-family-complementary;
  font-size: ds-rem-calc(18);
  font-weight: 300;
  padding: 30px 20px;

  @include media($laptop)  { padding: 30px 20px; }
  @include media($desktop) { padding: 30px 0; }

  html[data-page-type=index] & {
    opacity: 0;
    animation: header 1s 0.2s linear forwards;
    will-change: opacity;
  }


  // logo

  &__logo {
    float: left;

    .ar & {
      float: right;
    }

    a {
      width: 50px;
      height: 50px;
      display: block;

      &:hover {
        color: $ds-color-green;
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }


  // nav

  &__nav {
    $this-active-target: "#{&}:target";
    $this-active-class:  "body.open-nav";

    .ar & {
      display: none;
    }

    &__tgl {
      width: 50px;
      height: 50px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      float: right;
      position: relative;
      -webkit-tap-highlight-color: transparent;

      .ar & {
        float: left;
      }

      &:last-of-type {
        display: none;
      }
      #{$this-active-target} &,
      #{$this-active-class}  & {
        &:first-of-type { display: none; }
        &:last-of-type  { display: block; }
      }

      @include media($tablet) {
        display: none !important;
      }

      span {
        $this-stick-height: 2px;

        background-image: linear-gradient(to right, $ds-color-charcoal 0%, $ds-color-charcoal 100%);
        background-repeat: no-repeat;
        background-position: 0 50%;
        background-size: 100% $this-stick-height;
        position: absolute;
        top: 32%;
        bottom: 32%;
        left: 20%;
        right: 20%;

        &:before,
        &:after {
          height: $this-stick-height;
          background-color: $ds-color-charcoal;
          transition: .3s $easing-out-cubic;
          transition-property: width, transform, top, bottom, margin-top;
          will-change: width, transform, top, bottom, margin-top;
          content: '';
          position: absolute;
          right: 10%;
          width: 100%;
        }
        &:before {
          width: 80%;
          top: 0;
        }
        &:after {
          width: 80%;
          top: 100%;
          margin-top: -$this-stick-height;
        }

        #{$this-active-target} &,
        #{$this-active-class}  & {
          background-image: none;

          &:before {
            background: $ds-color-green;
            width: 100%;
            transform: rotate(45deg);
            top: 50%;
          }
          &:after {
            background: $ds-color-green;
            width: 100%;
            transform: rotate(-45deg);
            top: 50%;
            margin-top: 0;
          }
        }
      }
    }

    &__list {
      list-style: none;

      @include media($header-extra-mobile) {
        width: 200px;
      }
      @include media($mobile) {
        width: 250px;
        height: 100%;
        background: $ds-color-charcoal;
        box-shadow: rgba(96, 95, 94, 0.1) 0 0 4px;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 100%;
        z-index: 9;
        padding-top: 10px;
        transition: opacity 0.4s $easing-out-cubic;

        #{$this-active-target} &,
        #{$this-active-class}  & {
          opacity: 1;
          z-index: 10;
        }
        #{$this-active-target} & {
          right: 0;
          left: auto;

          .ar & {
            right: auto;
            left: 0;
          }
        }

        a {
          font-size: ds-rem-calc(14);
          color: white;
          display: block;
          padding: 5px 15px;
          margin: 10px;
        }
      }
      @include media($tablet) {
        @include clearfix;
        float: left;
        line-height: 50px;
        margin: 0 0 0 20px;

        .ar & {
          float: right;
          margin: 0 20px 0 0;
        }

        li {
          float: left;
          margin: 0 0 0 20px;

          .ar & {
            margin: 0 20px 0 0;
          }
        }

        a {
          font-size: 16px;
          color: $ds-color-charcoal;
        }
      }

      a {
        &:hover,
        &:focus {
          color: $ds-color-link;
        }
      }
      .is-selected a {
        color: $ds-color-orange;
      }
    }
  }


  // lang nav

  &__lang {
    $this-active-target: "#{&}:target";
    $this-active-class:  "body.open-lang";

    position: relative;
    float: right;
    padding-bottom: 10px;
    margin-top: 7px;

    .ar & {
      float: left;
    }

    a {
      &:hover, &:focus {
        color: $ds-color-green;
      }
    }

    &__tgl {
      display: block;

      &:last-of-type {
        display: none;
      }
      #{$this-active-target} &,
      #{$this-active-class}  & {
        color: $ds-color-green;
        &:first-of-type { display: none; }
        &:last-of-type  { display: block; }
      }

      svg {
        width: 35px;
        height: 35px;
        display: block;
      }
    }

    &__list {
      width: 250px;
      height: 100%;
      background: $ds-color-charcoal;
      opacity: 0;
      position: fixed;
      left: 100%;
      top: 0;
      padding-top: 10px;
      transition: opacity 0.4s $easing-out-cubic;

      .ar & {
        text-align: right;
        right: 100%;
        left: auto;
      }

      @include media($header-extra-mobile) {
        width: 200px;
      }
      @include media($desktop) {
        &,
        .ar & {
          width: 100%;
          height: 50px;
          top: auto;
          bottom: 100%;
          left: 0;
          right: 0;
          text-align: right;
          padding-top: 0;
        }

        .ar & {
          text-align: left;
        }
      }

      #{$this-active-target} &,
      #{$this-active-class}  & {
        opacity: 1;
        z-index: 10;
      }

      #{$this-active-target} & {
        right: 0;
        left: auto;

        .ar & {
          right: auto;
          left: 0;
        }
        @include media($desktop) {
          top: 0;
        }
      }

      ul {
        font-size: ds-rem-calc(14);
        width: 1200px;
        margin: 0 auto;
        max-width: 100%;
        position: relative;

        @include media($desktop) {
          height: 50px;

          &:after {
            width: 0;
            height: 0;
            content: '';
            border: solid transparent;
            border-color: rgba(34, 34, 34, 0);
            border-top-color: $ds-color-charcoal;
            border-width: 10px;
            position: absolute;
            top: 100%;
            right: 7px;
            margin-top: -1px;

            .ar & {
              right: auto;
              left: 6px;
            }
          }
        }
      }

      li {
        display: block;
        margin: 0;
        padding: 0;

        @include media($desktop) {
          display: inline-block;
        }

        a {
          color: #fff;
          display: block;
          padding: 5px 15px;
          margin: 10px;

          @include media($desktop) {
            display: inline-block;
            margin-left: 0;
            margin-right: 0;
          }

          &.ar {
            font-family: Courier, sans-serif;
            direction: rtl;
            unicode-bidi: embed;
          }
        }
        &.is-selected a {
          color: $ds-color-orange;
        }
      }
    }
  }
}

body {
  transition: transform 0.4s $easing-out-cubic;
  will-change: transform;
}

body.open-nav {
  @include media($mobile) {
    transform: translateX(-250px) scaleX(1);

    .ar & {
      transform: translateX(250px) scaleX(1);
    }

    @include media($header-extra-mobile) {
      transform: translateX(-200px) scaleX(1);

      .ar & {
        transform: translateX(200px) scaleX(1);
      }
    }
  }
}

body.open-lang {
  transform: translateX(-250px) scaleX(1);

  .ar & {
    transform: translateX(250px) scaleX(1);
  }

  @include media($header-extra-mobile) {
    transform: translateX(-200px) scaleX(1);

    .ar & {
      transform: translateX(200px) scaleX(1);
    }
  }

  @include media($desktop) {
    &,
    .ar & {
      transform: translateY(50px) scaleX(1);
    }
  }
}

@keyframes header {
  100% { opacity: 1; }
}
