<article class="block block--gallery <%= defined?(full_width) ? "full" : "" %>">
  <div class="block__text">
    <p class="category">
      <% if defined?(category) %>
        <%= category %>
      <% else %>
        Galleri
      <% end %>
    </p>
    <p><%= text %></p>
  </div>

  <% if defined?(images) %>
    <div class="block__image">
      <% images.each do |image| %>
        <%= image_tag(image) %>
      <% end %>
    </div>
  <% end %>
</article>
