---
title: Blog
---

<main role="main" class="blog">

  <header class="blog__header blog__header--listing">
    <h1>Redirecting to Medium...</h1>
  </header>
</main>
<meta http-equiv="refresh" content="0; url=https://medium.com/kollegorna">
