---
title: Typer av projekt
---


<main role="main" class="about">
  <div class="about__background">
    <%= image_tag("about/texture_bg.png") %>
  </div>

  <section class="about__intro">
    <div class="about__intro__content">
      <div class="about__intro__headline">
        <p>We do a lot</p>
        <h1>Our projects happens in various industries, using different technologies and in many shapes</h1>

        <h2>Here are some of the topics</h2>
      </div>

      <div class="about__intro__steps">
        <div class="step">
          <h2>Fintech</h2>
          <p>
            <a href="#">Valu8 Group</a><br>
            <a href="#">Vembi</a><br>
            <a href="#">Redeye</a>
          </p>
        </div>

        <div class="step">
          <h2>Maps</h2>
          <p>
            <a href="#">Tyranny</a><br>
            <a href="#">GPX.io</a><br>
            <a href="#">Open House Stockholm</a><br>
            <a href="#">Magicka 2 Map</a>
          </p>
        </div>

        <div class="step">
          <h2>News &amp; Media</h2>
          <p>
            <a href="#">Medievärlden</a><br>
            <a href="#">Medievärlden Premium</a><br>
            <a href="#">Releasefest</a><br>
            <a href="#">BG Play</a>
          </p>
        </div>

        <div class="step">
          <h2>Traditional websites</h2>
          <p>
            <a href="#">Lanneberg Bexelius</a><br>
            <a href="#">Celine Beyond</a>
          </p>
        </div>

        <div class="step">
          <h2>Fun &amp; Games</h2>
          <p>
            <a href="#">Stellaris Signup</a><br>
            <a href="#">Dina Risker</a><br>
            <a href="#">Magicka 2 Signup</a>
          </p>
        </div>

        <div class="step">
          <h2>Hardware</h2>
          <p>
            <a href="#">The Icebreaker Machine</a><br>
            <a href="#">Badrumsbekännelser</a>
          </p>
        </div>

        <div class="step">
          <h2>Ecommerce</h2>
          <p>
            <a href="#">WaterAid Giftshop</a><br>
            <a href="#">WaterAid Monthly Donator</a><br>
            <a href="#">The Kong Initiative</a>
          </p>
        </div>

        <div class="step">
          <h2>Single Sign On</h2>
          <p>
            <a href="#">Paradox Accounts</a><br>
            <a href="#">Redeye Login</a>
          </p>
        </div>

        <div class="step">
          <h2>Real time</h2>
          <p>
            <a href="#">Stellaris Signup</a><br>
            <a href="#">Ö till Ö</a>
          </p>
        </div>

        <div class="step">
          <h2>Tools</h2>
          <p>
            <a href="#">Genombrott</a><br>
            <a href="#">IIS Domain Campaign Manager</a><br>
            <a href="#">Releasefest Dashboard</a>
          </p>
        </div>

        <div class="step">
          <h2>Campaigns</h2>
          <p>
            <a href="#">The Icebreaker Machine</a><br>
            <a href="#">Badrumsbekännelser</a><br>
            <a href="#">Dina Risker</a><br>
            <a href="#">Reclaim The Clown</a>
          </p>
        </div>

        <div class="step">
          <h2>Identity</h2>
          <p>
            <a href="#">Lanneberg Bexelius</a><br>
            <a href="#">Vembi</a><br>
            <a href="#">Celine Beyond</a>
          </p>
        </div>

        <div class="step">
          <h2>Paid services</h2>
          <p>
            <a href="#">Medievärlden Premium</a><br>
            <a href="#">BG Play</a>
          </p>
        </div>

        <div class="step">
          <h2>Social Media API:s</h2>
          <p>
            <a href="#">The Icebreaker Machine</a><br>
            <a href="#">Troll, Abort!</a><br>
            <a href="#"></a>
          </p>
        </div>
      </div>
    </div>
  </section>



  <section class="about__section about__section--share">
    <div class="about__section__content">
      <h1>Open Source</h1>
      <ul>
        <li><a href="https://github.com/kollegorna/heroku-buildpack-autossh">heroku-buildpack-autossh</a></li>
        <li><a href="https://github.com/kollegorna/kobot">kobot</a></li>
        <li><a href="https://github.com/kollegorna/active_hash_relation">active_hash_relation</a></li>
        <li><a href="https://github.com/kollegorna/middleman-boilerplate">middleman-boilerplate</a></li>
        <li><a href="https://github.com/kollegorna/weatherbot">weatherbot</a></li>
        <li><a href="https://github.com/kollegorna/rack-prefer">rack-prefer</a></li>
        <li><a href="https://github.com/kollegorna/mongoid_hash_query">mongoid_hash_query</a></li>
        <li><a href="https://github.com/kollegorna/gulp-highwinds-cdn">gulp-highwinds-cdn</a></li>
        <li><a href="https://github.com/kollegorna/kong-tictail-theme">kong-tictail-theme</a></li>
        <li><a href="https://github.com/kollegorna/activeadmin-logins">activeadmin-logins</a></li>
        <li><a href="https://github.com/kollegorna/sniffets">sniffets</a></li>
        <li><a href="https://github.com/kollegorna/telefonista">telefonista</a></li>
        <li><a href="https://github.com/kollegorna/middleman-prismic">middleman-prismic</a></li>
        <li><a href="https://github.com/kollegorna/kong-integrations">kong-integrations</a></li>
        <li><a href="https://github.com/kollegorna/apsis-ruby">apsis-ruby</a></li>
        <li><a href="https://github.com/kollegorna/hubspot_informer">hubspot_informer</a></li>
        <li><a href="https://github.com/kollegorna/kollegorna.se">kollegorna.se</a></li>
        <li><a href="https://github.com/kollegorna/labs.kollegorna.se">labs.kollegorna.se</a></li>
        <li><a href="https://github.com/kollegorna/rtfm.kollegorna.se">rtfm.kollegorna.se</a></li>
        <li><a href="https://github.com/kollegorna/griddo">griddo</a></li>
      </ul>
    </div>
  </section>

</main>

