.about {

  &__background {
    position: fixed;
    z-index: 0;
    top: 50%;
    left: 50%;
    max-width: 800px;
    margin: 0 auto;
    transform: translate(-50%, -50%);
  }

  &__intro {
    position: relative;
    margin-bottom: 50px;
    padding: 50px 0;
    padding-bottom: 190px;
    position: relative;
    overflow: hidden;

    @include media($laptop) {
      padding-bottom: 60px;
    }

    &__background {
      width: 100%;
      height: 100%;
      position: absolute;
      top: calc(100% - 170px);
      left: 0;
      background: image-url('about-hero.svg') repeat-x left top;
      background-size: contain;

      @include media($laptop) {
        width: 50%;
        top: 0;
        left: 50%;
      }
    }

    &__content {
      @include outer-container;
    }

    &__headline {
      @include span-columns(8);
      @include shift(2);
      @include omega;

      @include media($laptop) {
        @include span-columns(5);
        @include shift(0);
      }

      p {
        margin: 0 0 10px 0;
        font-weight: 200;
        font-style: italic;
      }

      h1 {
        margin: 0 0 20px 0;
        font-weight: 600;
        font-family: $ds-font-family-complementary;
        font-size: ds-rem-calc(18);

        @include media($tablet) { font-size: ds-rem-calc(28); }
        @include media($laptop) { font-size: ds-rem-calc(30); }
        @include media($desktop) { font-size: ds-rem-calc(32); }
      }

      h2 {
        margin: 10px 0;
        font-size: ds-rem-calc(18);
        font-family: $ds-font-family-complementary;
        font-weight: 400;

        @include media($tablet) { font-size: ds-rem-calc(20); }
        @include media($laptop) { font-size: ds-rem-calc(22); font-weight: 300; }
        @include media($desktop) { font-size: ds-rem-calc(24); }
      }
    }
  }

  &__features {
    padding-bottom: 60px;

    &__row {
      @include outer-container;
      text-align: center;
      position: relative;
      z-index: 1;

      @include media($tablet) {
        text-align: left;
      }
    }

    .feature {
      @include span-columns(12);
      @include omega(2n);
      margin: 20px 0;

      @include media($tablet) {
        @include span-columns(6);
        @include omega(2n);
      }

      &__icon {
        @include span-columns(4);
        @include shift(4);
        @include omega();
        margin-bottom: 20px;

        @include media($tablet) {
          @include span-columns(2);
          @include shift(0);
          @include omega-reset(1n);

          img {
            width: 80%;
            max-width: 135px;
          }
        }
      }

      &__content {
        @include span-columns(8);
        @include shift(2);
        @include omega();

        @include media($tablet) {
          @include span-columns(8);
          @include shift(0);
          padding-top: 2  0px;
        }

        h1 {
          font-family: $ds-font-family-complementary;
          font-size: ds-rem-calc(16);
          margin: 0;
          font-weight: 700;

          @include media($tablet) { font-size: ds-rem-calc(18); }
        }

        p {
          margin-top: 10px;
          font-size: ds-rem-calc(14);

          @include media($tablet) {
            font-size: ds-rem-calc(16);
            font-weight: 300;
          }
        }
      }
    }
  }
}
