.blog {
  @include outer-container( $max-width / 2 );
  min-height: 80vh;
  padding: 0 20px 60px;

  &__header {
    margin-bottom: 20px;

    h1 {
      font-size: ds-rem-calc(42);
      font-weight: 600;
      letter-spacing: ds-rem-calc(-1);
      line-height: 1.2;
      @include media($mobile) {
        font-size: ds-rem-calc(30);
      }
    }

    &--listing {
      > * {
        display: inline;
        margin-right: 10px;
      }
    }

    &--article {
      position: relative;

      h1 {
        @include media($mobile) {
          display: inline;
        }
      }

      a {
        border-bottom: 1px solid $ds-color-link;
        color: $ds-color-black;
        display: inline-block;
        font-weight: 600;
      }

      span {
        white-space: nowrap;
        position: absolute;
        top: 14px;
        right: 100%;
        margin-right: 10px;

        &:after {
          color: darken($ds-color-white, 25);
          content: '/';
          margin-left: 10px;
        }

        @include media($mobile) {
          position: static;
          margin-right: 5px;
        }
      }

      time {
        font-size: ds-rem-calc(16);
        @include media($mobile) {
          display: block;
          margin-top: 20px;
        }
      }
    }
  }

  &__list {
    list-style: none;

    li {
      position: relative;
    }
    li + li {
      margin-top: 20px;
    }

    h2 {
      font-size: ds-rem-calc(20);
      font-weight: 400;
      margin: 0;
    }

    a {
      color: $ds-color-black;

      &:hover,
      &:focus  { color: $ds-color-orange; }
      &:active { color: $ds-color-orange; }
    }

    time {
      font-size: ds-rem-calc(14);
      white-space: nowrap;
      position: absolute;
      top: 0;
      right: 100%;
      margin: 4px 10px 0 0;

      @include media($mobile) {
        position: static;
        margin: 10px 0 0;
      }
    }
  }

  &__content {
    a {
      @extend %ds-underlined;
    }

    // Code boxes
    pre,
    code {
      border-radius: 3px;
      background-color: #fff;
      padding: 3px 6px;
    }
    .highlight {
      word-wrap: normal;
      white-space: pre;
      overflow: auto;
    }
    code {
      font-size: .8em;
    }
    pre {
      overflow-x: scroll;
      box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, .1);
      border: 1px solid darken($ds-color-background, 10);
      padding: ds-rem-calc(16px);

      code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  &__footer {
    padding-top: 20px;

    &__meta {
      @include clearfix;
    }

    &__author {
      font-weight: 600;
      @include media($tablet) {
        @include span-columns(6);
        padding-right: 20px;
      }
      img {
        width: 40px;
        border-radius: 50%;
      }

      .post-author {
        @extend %ds-clearfix;
        margin-bottom: 15px;

      	@media(max-width: 640px) {
      		text-align: center;
      		margin-top: 20px;
      	}

      	& + & {
      		margin-top: 30px;
      	}
      }

      .post-author__image {
        float: left;
        height: 50px;

      	@media(max-width: 640px) {
      		float: none;
      	}

        img {
          @extend .polaroid;
          margin-right: ds-rem-calc(15px);
          max-width: 50px;
          padding: 3px;
          border-radius: 50px;
        }
      }

      .post-author__name {
      	line-height: 40px;
      	color: lighten($ds-color-text, 50);
        float: left;

      	@media(max-width: 640px) {
      		line-height: 1.6;
      		float: none;
      		margin-top: 10px;
      	}
      }
    }

    &__rss {
      margin-top: 5px;
      @include media($tablet) {
        @include span-columns(6);
        text-align: right;
        padding-left: 20px;
      }
    }

    &__medium {
      text-align: center;
      background: $ds-color-white;
      margin: ds-rem-calc(20 0);
      padding: ds-rem-calc(40 30 0 30);

      h2 {
        margin: ds-rem-calc(0 0 30 0);
        font-size: ds-rem-calc(24);
        font-weight: 400;
      }
    }

    &__more {
      position: relative;
      text-align: center;
      clear: both;
      margin-top: 40px;

      &:before {
        width: 100%;
        border-top: 1px solid darken($ds-color-white, 20);
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
      }

      a {
        font-size: ds-rem-calc(16);
        font-family: $ds-font-family-complementary;
        font-weight: 300;
        font-style: italic;
        color: #fff;
        background-color: $ds-color-link;
        display: inline-block;
        position: relative;
        padding: 10px 20px;

        &:hover,
        &:focus  { background-color: darken($ds-color-link, 10); }
        &:active { background-color: darken($ds-color-link, 20); }
      }
    }
  }

  &__comments {
    font-size: ds-rem-calc(16);
    text-align: center;
    color: darken($ds-color-white, 50);
    margin-top: 40px;

    .no-js & {
      display: none;
    }
  }

  time {
    font-family: $ds-font-family-complementary;
    font-weight: 300;
    color: darken($ds-color-white, 50);
  }
}

.blog-rss-link {
  color: $ds-color-orange;
  &:hover,
  &:focus  { color: darken($ds-color-orange, 10); }
  &:active { color: darken($ds-color-orange, 20); }

  svg {
    width: 14px;
    height: 14px;
  }
}
