.colleagues {
  padding: 0 20px 60px 20px;

  &__header {
    @include outer-container;

    &__content {
      @include span-columns(10);
      @include shift(1);

      @include media($tablet) {
        @include span-columns(8);
        @include shift(2);
      }

      @include media($desktop) {
        @include shift(0);
        padding-top: 20px;
      }

      h1 {
        margin: 0 0 20px 0;
        font-weight: 600;
        font-size: ds-rem-calc(18);
        text-align: center;

        @include media($tablet) { font-size: ds-rem-calc(28); }
        @include media($laptop) {
          text-align: left;
          font-size: ds-rem-calc(42);
          letter-spacing: ds-rem-calc(-1);
          line-height: 1.2;
        }
      }

      p {
        margin: 10px 0;
        font-size: ds-rem-calc(14);
        text-align: center;

        @include media($laptop) {
          text-align: left;
          font-size: ds-rem-calc(22);
        }

        @include media($tablet) { font-size: ds-rem-calc(20); }
        @include media($desktop) { font-size: ds-rem-calc(24); }

        a {
          @extend %ds-underlined;
        }
      }
    }
  }

  &__list {
    @include outer-container;
    max-width: 1400px;
    margin: 20px auto 0 auto;

    .block {
      padding-top: 20px;

      @include media($tablet)  { @include span-columns(6); padding-left: 10px; padding-right: 10px; }
      @include media($desktop) { @include span-columns(4); }
    }

    .profile {
      background: white;
      border-radius: 4px;
      padding: 30px 40px 30px 30px;
      position: relative;

      @include media($tablet) {
        padding: 50px;
      }

      &__image {
        display: block;
        width: 160px;
        height: 160px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -80px;
        z-index: 2;

        img {
          border-radius: 999em;
          box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08);
        }



        // float: right;
        // border-radius: 50%;
        // width: 50px;
        // height: 50px;
        // overflow: hidden;
        // position: relative;
        // top: -10px;
        // right: -10px;
        // position: relative;
        // z-index: 1;
        // transform-origin: top right;
        // transition: all .2s ease-in-out .1s;

        // @include media($tablet) {
        //   width: 100px;
        //   height: 100px;
        // }
      }

      &__name {
        font-size: ds-rem-calc(18);
        font-weight: 600;
        letter-spacing: ds-rem-calc(-0.5);
        margin: 0;
        position: relative;
        z-index: 1;
        transition: opacity .2s ease-in-out;

        @include media($tablet) {
          font-size: ds-rem-calc(24);
        }
      }

      &__title {
        font-family: $ds-font-family-complementary;
        font-weight: 300;
        font-size: ds-rem-calc(14);
        margin: 0;
        position: relative;
        z-index: 1;
        color: darken($ds-color-white, 40);
        transition: opacity .2s ease-in-out;

        @include media($tablet) {
          font-size: ds-rem-calc(16);
        }
      }
    }
  }
}
