.index {

  &__hero {
    @include outer-container;
    text-align: center;
    position: relative;
    margin-bottom: 120px;

    p {
      margin: 0 0 10px 0;
      font-weight: 200;
      font-family: $ds-font-family-complementary;
      font-style: italic;
    }

    h1 {
      max-width: 680px;
      margin: 0 auto;
      font-size: ds-rem-calc(36);
      font-weight: 600;
    }

    &__headline {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__feed {

    h2 {
      margin: 0 0 10px 0;
      font-family: $ds-font-family-complementary;
      font-weight: 200;
      font-size: ds-rem-calc(20);
      font-style: italic;
    }

    &__header {
      @include outer-container;
      text-align: center;
      margin-bottom: 40px;
    }

    &__blocks {
      width: 90%;
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}
