.index {

  &__hero {
    @include outer-container;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    padding-top: 150px;

    @include media($tablet) {
      padding-top: 0;
      margin-bottom: 120px;
    }

    p {
      margin: 0 0 10px 0;
      font-weight: 200;
      font-family: $ds-font-family-complementary;
      font-style: italic;
      color: $ds-color-green;
    }

    h1 {
      width: 90%;
      max-width: 320px;
      margin: 0 auto;
      font-weight: 600;

      font-size: ds-rem-calc(18);

      @include media($tablet) {
        font-size: ds-rem-calc(24);
        max-width: 450px;
      }
      @include media($laptop) {
        font-size: ds-rem-calc(32);
        max-width: 600px;
      }
      @include media($desktop) {
        font-size: ds-rem-calc(36);
        max-width: 680px;
      }
    }

    svg {
      .cls-1 {
        fill: none;
        stroke: #000;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 14px;
      }

      .dashed {
        stroke-dasharray: 100%;
        stroke-dashoffset: 100%;
        transition: all 1s ease-in-out;
      }

      #line2 { transition-delay: 0.2s; }
      #line3 { transition-delay: 0.4s; }
      #line4 { transition-delay: 0.8s; }
      #line5 { transition-delay: 0.9s; }
      #line6 { transition-delay: 1s; }
      #line7 { transition-delay: 1.3s; }

      .cls-2 {
        fill: #f06543;
        opacity: 0;
        transform: translate(-5px, 5px);
        transition: all 0.4s ease-out 0.6s;
      }

      .cls-3 {
        fill: #f7b05b;
        opacity: 0;
        transform-origin: 50% 50%;
        transform: rotate(-5deg) translate(-20px, -10px);
        transition: all 0.4s ease-out 0.8s;
      }

      .cls-4 {
        fill: #e1dd8f;
        opacity: 0;
        transform-origin: 50% 50%;
        transform: rotate(-5deg) translate(-20px, -10px);
        transition: all 0.4s ease-out 1s;
      }

      #phone,
      #tablet,
      #laptop {
        opacity: 0;
        transform: scale(0.9);
        transform-origin: 50% 50%;
        transition: all 0.2s ease-in-out;
      }

      #tablet {
        transition-delay: 0.1s;
      }

      #laptop {
        transition-delay: 0.2s;
      }
    }


    .on svg {
      .dashed { stroke-dashoffset: 0; }
      .cls-2,
      .cls-3,
      .cls-4 {
        opacity: 1;
        transform: translate(0, 0);
      }

      #phone,
      #tablet,
      #laptop {
        opacity: 1;
        transform: scale(1);
      }
    }

    &__headline {
      width: 100%;
      position: absolute;

      top: 0;
      left: 0;

      @include media($tablet) {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }

  &__feed {

    h2 {
      margin: 0 0 10px 0;
      font-family: $ds-font-family-complementary;
      font-weight: 200;
      font-size: ds-rem-calc(20);
      font-style: italic;
    }

    &__header {
      @include outer-container;
      text-align: center;
      margin-bottom: 40px;
    }

    &__blocks {
      width: 90%;
      max-width: 1000px;
      margin: 0 auto;
    }
  }

  &__colleagues {
    margin-top: 60px;
  }
}
