.offline {
  text-align: center;
  padding: 20vh ds-rem-calc(20);

  h1 {
    font-size: ds-rem-calc(42);
    font-weight: 600;
    letter-spacing: ds-rem-calc(-1);
    line-height: 1.2;
    margin-bottom: ds-rem-calc(10);
    @include media($mobile) {
      font-size: ds-rem-calc(30);
    }
  }
}
