.work {
  background: $ds-color-white;
  padding: 20px 10px;

  &__header {
    margin-bottom: 40px;
    border-bottom: 1px solid $ds-color-light-gray;
    padding: 20px 10px;

    .wrapper {
      @include outer-container;
    }

    h1 {
      display: inline-block;
      margin: 0;
      font-size: ds-rem-calc(16);
      color: $ds-color-charcoal;
      position: relative;
      padding: 12px 20px;

      &.selected {
        background: $ds-color-yellow;
      }

      a { color: $ds-color-charcoal; }
    }

    p {
      float: right;
      margin: 0;
      font-size: ds-rem-calc(16);
      padding: 12px 0;
    }
  }

  &__projects {
    &__blocks {
      @include outer-container;
      max-width: 1420px;

      @include media($huge) {
        max-width: 100%;
      }

      .block {
        // overflow: hidden;
        @include span-columns(12);
        padding: 0 10px;

        @include media($tablet) {
          @include span-columns(6);
          @include omega(2n);
        }

        @include media($huge) {
          @include span-columns(4);
          @include omega(3n);
          @include omega-reset(2n);
        }

        h3 {
          color: $ds-color-charcoal;
          margin: 0;
          font-size: ds-rem-calc(14);
          font-weight: 600;
          text-transform: uppercase;

          @include media($tablet) {
            font-size: ds-rem-calc(16);
          }
          @include media($laptop) {
            font-size: ds-rem-calc(18);
          }
        }

        p {
          font-family: $ds-font-family-complementary;
          font-weight: 300;
          font-size: ds-rem-calc(14);
          color: $ds-color-charcoal;
          margin: 0 auto;
        }

        &__image {
          transition: all .2s linear;
          img { width: 100%; }
        }

        &__text {
          padding: 20px 0 40px 0;
        }

        a {
          display: block;
          color: $ds-color-charcoal;
          &:hover {
            color: $ds-color-link;

            .block__image {
              margin-top: -5px;
              margin-bottom: 5px;
              box-shadow: 0 10px 25px 0 rgba(0,0,0,0.1);
            }
          }
        }
      }
    }
  }
}
