.case--celine-beyond {
	.intro {
		text-align: center;
		width: 100%;
		padding-top: 5%;
		background: image-url('case/celine-beyond/cb-hero.jpg') no-repeat center;
		background-size: cover;

		img {
			max-width: 1260px;
		}
	}

	.brand {
		text-align: center;
		width: 100%;
		padding-top: 5%;
		background: white;

		img {
			max-width: 1233px;
		}
	}

	.responsive {
		text-align: center;
		width: 100%;
		padding: 0 2% 4%;
		background: white;

		img {
			max-width: 927px;
		}
	}

	.site {
		text-align: center;
		width: 100%;
		background: #151a17;
		padding-top: 5%;
	}
}
