.case--edumedia-tunisie {
	.intro {
		width: 100%;

		img {
			display: block;
			width: 100%;
		}
	}

	.responsive {
		margin-top: -10%;
		width: 100%;
		text-align: center;
	}

	.brand {
		width: 100%;
		text-align: center;
	}

	.digital {
		width: 100%;
		text-align: center;
	}
}