$lb-orange: #FFA433 !default;
$lb-teal: #00D1DA !default;
$lb-pink: #FF446B !default;
$lb-gray: #F7EFEE !default;
$lb-gray-dark: #E1E1E1 !default;
$lb-purple: #544563 !default;
$lb-purple-dark: #40162F !default;
$lb-purple-light: #B0AAB7 !default;
$lb-white: #FFFFFF !default;

.case--lanneberg-bexelius {

  .intro {
    background: $lb-gray image-url('case/lanneberg-bexelius/intro.png') repeat-x center center;
    background-size: 1800px 800px;
    width: 100%;
    height: 800px;
  }

  .brand {
    text-align: center;
    background: $lb-teal;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }

  .screens {
    text-align: center;
    background: $lb-gray;

    #laptop {
      max-height: 700px;
    }

    #tablet,
    #phones {
      max-height: 500px;
    }

    #desktop {
      max-height: 925px;
    }
  }

  .details {
    font-size: 0;
    
    img {
      width: 33.33%;
      width: calc(100% / 3);
    }
  }
}
