@font-face {
    font-family: "Noto Kufi Arabic";
    src: url('../fonts/noto/notokufiarabic-regular-webfont.eot');
    src: url('../fonts/noto/notokufiarabic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/noto/notokufiarabic-regular-webfont.woff2') format('woff2'),
         url('../fonts/noto/notokufiarabic-regular-webfont.woff') format('woff'),
         url('../fonts/noto/notokufiarabic-regular-webfont.ttf') format('truetype'),
         url('../fonts/noto/notokufiarabic-regular-webfont.svg#svgFontName') format('svg');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Noto Kufi Arabic";
    src: url('../fonts/noto/notokufiarabic-bold-webfont.eot');
    src: url('../fonts/noto/notokufiarabic-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/noto/notokufiarabic-bold-webfont.woff2') format('woff2'),
         url('../fonts/noto/notokufiarabic-bold-webfont.woff') format('woff'),
         url('../fonts/noto/notokufiarabic-bold-webfont.ttf') format('truetype'),
         url('../fonts/noto/notokufiarabic-bold-webfont.svg#svgFontName') format('svg');
    font-weight: 700;
    font-style: normal;
}

.ar {
	body {
		direction: rtl;
    unicode-bidi: embed;
    font-family: Noto Kufi Arabic;

    h1, h2, h3, h4, h5, h6 {
    	font-family: Noto Kufi Arabic;
    }
	}
}