.feed {
  .block {
    overflow: hidden;
    width: 100%;
    background: $ds-color-white;
    color: $ds-color-charcoal;
    text-align: center;

    @include media($tablet) {
      width: 80%;
      margin-left: 10%;
    }
    @include media($laptop) {
      width: calc(50% - 10px);
      margin-left: 0;
    }
    @include media($desktop) {
      width: calc(33% - 10px);
      margin-left: 0;
    }

    h3 {
      color: inherit;
      max-width: 350px;
      margin: 0 auto 10px auto;
      font-size: ds-rem-calc(14);
      font-weight: 700;
      text-transform: uppercase;

      @include media($tablet) {
        font-size: ds-rem-calc(18);
      }
      @include media($laptop) {
        font-size: ds-rem-calc(20);
      }
    }

    p {
      font-size: ds-rem-calc(14);
      font-weight: 400;
      max-width: 350px;
      margin: 0 auto;

      @include media($laptop) {
        font-size: ds-rem-calc(16);
      }

      &.category {
        display: inline-block;
        font-family: $ds-font-family-complementary;
        font-size: ds-rem-calc(14);
        font-weight: 300;
        margin: 0 0 20px 0;
        color: $ds-color-red;
        border-bottom: 1px solid $ds-color-red;
        padding-bottom: 2px;
      }
    }

    .author {
      font-family: $ds-font-family-complementary;
      font-size: ds-rem-calc(14);
      line-height: 20px;
      margin-top: 20px;

      img {
        width: 20px;
        height: 20px;
        margin: 0 5px 0 0;
      }
    }

    &.full {
      width: 100%;
      @include media($tablet) { width: 80%; }
      @include media($laptop) { width: 100%; }
    }

    &__text {
      padding: 25px 40px 40px 40px;
    }

    &__caption {
      padding: 20px;
      font-size: ds-rem-calc(16);
    }

    // --
    // Case Studies
    // --
    &--case-study {
      a{
        color: inherit;
        display: block;
        // background: $ds-color-charcoal;
        p.category { color: inherit; }

        &.full {
          @include media($laptop) {
            .block__text {
              width: 50%;
              float: left;
            }
            .block__image {
              width: 50%;
              float: right;
            }
          }

          h3 {
            letter-spacing: ds-rem-calc(-1);
            font-size: ds-rem-calc(20);

            @include media($laptop) { font-size: ds-rem-calc(30); }
          }
        }
      }
    }

    // --
    // Blog entries
    // --
    &--blog {
    }

    // --
    // Blips
    // --
    &--blip {
      p.category {
        color: $ds-color-orange;
        border-color: $ds-color-orange;
      }
    }

    // --
    // Gallery
    // --
    &--gallery {
      p.category {
        color: $ds-color-green;
        border-color: $ds-color-green;
      }
    }

    // --
    // Quote
    // --
    &--quote {
      background: $ds-color-yellow;
      color: $ds-color-charcoal;

      blockquote {
        border: 0;

        p {
          font-size: ds-rem-calc(16);
          line-height: 1.6;
          font-weight: 500;
          font-style: normal;

          @include media($tablet) { font-size: ds-rem-calc(18); }
          @include media($desktop) { font-size: ds-rem-calc(20); }
        }
      }

      p { max-width: 100%; }
    }

    // --
    // Tweet
    // --
    &--tweet {
      p.category {
        color: #1da1f2;
        border-color: #1da1f2;
      }

      blockquote {
        font-family: $ds-font-family-complementary;
        font-style: normal;
        font-weight: 300;
        border: 0;
        color: rgba($ds-color-charcoal, 0.5);
        font-size: ds-rem-calc(14);
        margin: 0;
        padding: 0;

        p {
          font-family: $ds-font-family;
          font-size: ds-rem-calc(14);
          color: $ds-color-charcoal;
          max-width: 450px;
          margin-bottom: 10px;

          @include media($laptop) {
            font-size: ds-rem-calc(16);
          }
        }
      }

      a { color: #1da1f2; }
    }

    // --
    // Image
    // --
    &--image {
    }

    // --
    // Video
    // --
    &--video {
      .block__video {
        position: relative;
      	padding-bottom: 56.25%; /* 16:9 */
      	padding-top: 25px;
      	height: 0;

        iframe {
          position: absolute;
        	top: 0;
        	left: 0;
        	width: 100%;
        	height: 100%;
        }
      }
    }
  }
}
