.feed {
  display: none;

  .block {
    border-radius: 4px;
    overflow: hidden;
    width: 100%;

    @include media($tablet) {
      width: 80%;
      margin-left: 10%;
    }
    @include media($laptop) {
      width: calc(50% - 10px);
      margin-left: 0;
    }

    h3 {
      color: inherit;
      margin: 0;
      letter-spacing: ds-rem-calc(-0.5);
      font-size: ds-rem-calc(16);
      font-weight: 400;

      @include media($tablet) {
        font-size: ds-rem-calc(18);
      }
      @include media($laptop) {
        font-size: ds-rem-calc(24);
        font-weight: 300;
      }
    }

    p.category {
      text-transform: uppercase;
      font-size: ds-rem-calc(12);
      font-weight: 600;
      margin: 0 0 10px 0;
      color: inherit;
    }

    .author {
      font-size: ds-rem-calc(14);
      line-height: 20px;
      margin: 20px 0 0 0;

      img {
        width: 20px;
        height: 20px;
        margin: 0 8px 0 0;
      }
    }

    &.full {
      width: 100%;
      @include media($tablet) { width: 80%; }
      @include media($laptop) { width: 100%; }
    }

    &__text {
      padding: 40px;
    }

    &__caption {
      padding: 20px;
      font-size: ds-rem-calc(16);
    }

    // --
    // Case Studies
    // --
    &--case-study {
      background: $ds-color-black;

      &.full {
        @include media($laptop) {
          .block__text {
            width: 50%;
            float: left;
          }
          .block__image {
            width: 50%;
            float: right;
          }
        }

        h3 {
          letter-spacing: ds-rem-calc(-1);
          font-size: ds-rem-calc(20);

          @include media($laptop) { font-size: ds-rem-calc(30); }
        }
      }
    }

    // --
    // Blog entries
    // --
    &--blog {
      background: black;
      color: white;
    }

    // --
    // Blips
    // --
    &--blip {
      background: white;
      color: $ds-color-charcoal;
    }

    // --
    // Gallery
    // --
    &--gallery {
      background: white;
      color: $ds-color-charcoal;
    }

    // --
    // Quote
    // --
    &--quote {
      background: $ds-color-green;
      color: $ds-color-charcoal;

      blockquote {
        border: 0;
      }
    }

    // --
    // Tweet
    // --
    &--tweet {
      background: #f5f8fa;
      color: $ds-color-charcoal;

      .author { color: #646464; }
      a { color: #1da1f2; }
    }

    // --
    // Image
    // --
    &--image {
      background: $ds-color-black;
      color: $ds-color-white;
    }

    // --
    // Video
    // --
    &--video {
      background: $ds-color-black;
      color: $ds-color-white;

      .block__video {
        position: relative;
      	padding-bottom: 56.25%; /* 16:9 */
      	padding-top: 25px;
      	height: 0;

        iframe {
          position: absolute;
        	top: 0;
        	left: 0;
        	width: 100%;
        	height: 100%;
        }
      }
    }
  }
}
