<article class="block block--blip <%= defined?(full_width) ? "full" : "" %>">
  <div class="block__text">
    <p class="category">Heads up!</p>
    <p><%= text %></p>
  </div>

  <% if defined?(image) %>
    <div class="block__image">
      <%= image_tag(image) %>
    </div>
  <% end %>
</article>
