<article class="block block--quote <%= defined?(full_width) ? "full" : "" %>">
  <div class="block__text">
    <blockquote>
      <p><%= text %></p>
    </blockquote>
    <p class="author">
      <%= image_tag("icons/feed/quote.svg") %>
      — <%= author %>
    </p>
  </div>
</article>
